#output that would inflate the repository
small-fragment-data/
predictions/
.DS_Store
feat_cache/
*__pycache__/
CarbonSampleNov2016/
old_output/
*.npy
*.pyc

Pipfile.lock
build/
data/
out/
*.egg-info
.vscode
env/
