# Job output files
*.out

.DS_Store
feat_cache/
*__pycache__/
*.pyc
*.sif

build/
data/
!inkid/data/
out/
*.egg-info
.vscode
env/
env-inkid/
tmp/

Pipfile*
test/

# Cython
inkid/data/Volume.html
*.c
*.so
