[[source]]

name = "pypi"
verify_ssl = true
url = "https://pypi.python.org/simple"


[packages]

"e1839a8" = {extras = ["tf_gpu"], editable = true, path = "."}
tensorflow-gpu = "*"


[dev-packages]

sphinx = "*"
pylint = "*"
rope = "*"
"autopep8" = "*"
