absl-py==0.12.0
alabaster==0.7.12
astroid==2.5.1
autopep8==1.5.6
Babel==2.9.0
cachetools==4.2.1
certifi==2020.12.5
chardet==4.0.0
ConfigArgParse==1.4
cycler==0.10.0
Cython==3.0a1
decorator==4.4.2
dicttoxml==1.7.4
docutils==0.16
future==0.18.2
gitdb==4.0.5
GitPython==3.1.14
google-auth==1.28.0
google-auth-oauthlib==0.4.3
grpcio==1.36.1
humanize==3.3.0
idna==2.10
imageio==2.9.0
imagesize==1.2.0
-e git+git@code.cs.uky.edu:seales-research/ink-id.git@608e97c91b29cfb055e1972925b7df3f10af7553#egg=inkid
isort==5.8.0
Jinja2==2.11.3
joblib==1.0.1
jsmin==2.2.2
kiwisolver==1.3.1
kornia==0.5.0
lazy-object-proxy==1.6.0
Markdown==3.3.4
MarkupSafe==1.1.1
mathutils==2.81.2
matplotlib==3.3.4
mccabe==0.6.1
networkx==2.5
numpy==1.20.1
oauthlib==3.1.0
packaging==20.9
Pillow==8.1.2
progressbar2==3.53.1
protobuf==3.15.6
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycodestyle==2.7.0
pygifsicle==1.0.2
Pygments==2.8.1
pylint==2.7.2
pyparsing==2.4.7
python-dateutil==2.8.1
python-utils==2.5.6
pytz==2021.1
PyWavelets==1.1.1
requests==2.25.1
requests-oauthlib==1.3.0
rsa==4.7.2
scikit-image==0.18.1
scikit-learn==0.24.1
scipy==1.6.1
six==1.15.0
smmap==3.0.5
snowballstemmer==2.1.0
Sphinx==3.5.3
sphinxcontrib-applehelp==1.0.2
sphinxcontrib-devhelp==1.0.2
sphinxcontrib-htmlhelp==1.0.3
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.3
sphinxcontrib-serializinghtml==1.1.4
tensorboard==2.4.1
tensorboard-plugin-wit==1.8.0
threadpoolctl==2.1.0
tifffile==2021.3.17
toml==0.10.2
torch==1.6.0+cu101
torch-summary==1.4.5
tqdm==4.59.0
urllib3==1.26.4
Wand==0.6.6
Werkzeug==1.0.1
wrapt==1.12.1
