absl-py==1.0.0
alabaster==0.7.12
astroid==2.11.2
attrs==21.4.0
autopep8==1.6.0
Babel==2.9.1
black==22.3.0
cachetools==5.0.0
certifi==2021.10.8
charset-normalizer==2.0.12
click==8.1.2
cycler==0.11.0
Cython==3.0.0a10
dicttoxml==1.7.4
dill==0.3.4
docutils==0.17.1
fonttools==4.32.0
gitdb==4.0.9
GitPython==3.1.27
google-auth==2.6.5
google-auth-oauthlib==0.4.6
grpcio==1.44.0
humanize==4.0.0
idna==3.3
imageio==2.17.0
imagesize==1.3.0
importlib-metadata==4.11.3
-e git+ssh://git@code.cs.uky.edu/seales-research/ink-id.git@ff9b693e1c46a10b8d574fa678670cf6645647bd#egg=inkid
isort==5.10.1
Jinja2==3.1.1
joblib==1.1.0
jsmin==3.0.1
jsonschema==4.4.0
kaleido==0.2.1
kiwisolver==1.4.2
lazy-object-proxy==1.7.1
Markdown==3.3.6
MarkupSafe==2.1.1
matplotlib==3.5.1
mccabe==0.7.0
mypy-extensions==0.4.3
numpy==1.22.3
oauthlib==3.2.0
packaging==21.3
pandas==1.4.2
pathspec==0.9.0
Pillow==9.1.0
pkg_resources==0.0.0
platformdirs==2.5.2
plotly==5.7.0
protobuf==3.20.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycodestyle==2.8.0
pygifsicle==1.0.5
Pygments==2.11.2
pylint==2.13.5
pyparsing==3.0.8
pyrsistent==0.18.1
PySide6==6.3.0
PySide6-Addons==6.3.0
PySide6-Essentials==6.3.0
python-dateutil==2.8.2
pytz==2022.1
requests==2.27.1
requests-oauthlib==1.3.1
rsa==4.8
scikit-learn==1.0.2
scipy==1.8.0
shiboken6==6.3.0
six==1.16.0
smmap==5.0.0
snowballstemmer==2.2.0
Sphinx==4.5.0
sphinx-rtd-theme==1.0.0
sphinxcontrib-applehelp==1.0.2
sphinxcontrib-devhelp==1.0.2
sphinxcontrib-htmlhelp==2.0.0
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.3
sphinxcontrib-serializinghtml==1.1.5
tenacity==8.0.1
tensorboard==2.8.0
tensorboard-data-server==0.6.1
tensorboard-plugin-wit==1.8.1
threadpoolctl==3.1.0
toml==0.10.2
tomli==2.0.1
torch==1.10.0
torch-summary==1.4.5
tqdm==4.64.0
typing_extensions==4.2.0
urllib3==1.26.9
Wand==0.6.7
Werkzeug==2.1.1
wrapt==1.14.0
zipp==3.8.0
